body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/media/classroom_bg.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  height: 80%;
  width: 80vw;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
}

body .container .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 18;
  font-weight: bold;
  background-color: #c22a1f;
  padding: 10px 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

body .container .titulo h1 {
  color: #fff;
}

body .container .form {
  background-color: white;
  width: 100%;
  height: auto;
}

body .container .form .titulo1 {
  background-color: white;
  width: 90%;
  margin-left: 20px;
  margin-top: 25px;
}

body .container .form .pergunta1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 150px;
  width: 100%;
  margin-left: 30px;
}

body .container .form .pergunta1 .right-1 {
  height: 150px;
  width: 20%;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .form .pergunta1 .right-2 {
  height: 150px;
  width: 20%;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .form .pergunta1 .left-1 {
  height: 170px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  color: black;
  display: flex;
}

.pg2 {
  margin-top: 15px;
}

#txUm {
  font-size: 13px;
  margin-top: 2px;
  margin-left: 10px;
}

.rbt_importancia {
  font-size: 13px;
  margin-top: 12px;
  margin-left: 10px;
}

.pg1 {
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pg1 .rbt_satis {
  font-size: 13px;
  margin-top: 12px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 450px;
}

.pg1 .rbt_satis .ruim {
  width: 25%;
}

#txdois {
  font-size: 13px;
  margin-top: 2px;
  margin-left: 10px;
  color: black;
}

.divisor {
  background-color: red;
  width: 96%;
  height: 2px;
  z-index: 100;
}

.box {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #c22a1f;
  border-radius: 1em;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pg9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#enviar {
  background-color: #c22a1f;
  color: #fff;
  width: 60%;
}

#limpar {
  background-color: #fff;
  color: #c22a1f;
  width: 40%;
}
/*# sourceMappingURL=home.css.map */